*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #FFEACA;
  height: 100%;
  max-height: 100%;

}

header {
  position: fixed;
  background-color: #104911;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: 0.6s;
  padding:  40px 100px;
  z-index: 100000;
}

header.sticky {
  padding:  5px 100px;
  background: #fff;


}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

header ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #FFD449;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

header ul li:hover::after{
  width: 100%;
}

header.sticky ul li a {
  color: #000;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.4;
  padding: 20px 40px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  max-width: 1200px;
}

.heading-1 {
  font-size: 40px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 45px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.heading-3 {
  font-size: 25px;
  text-transform: uppercase;
  color: crimson;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sub-heading p {
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.sub-heading span {
  color: #555;
  font-weight: 300;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.sub-heading .importent {
  color: crimson;
  text-transform: uppercase;
  font-weight: 300;
}

/* HOME */
.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.home-img {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 10px;
}

.list > p{
  font-size: 20px;
  font-style: oblique;
  padding-bottom: 70px;
}

.list img {
  width: 100%;
  height: 80px;
}
article {
  margin-top: 10px;
}

/* ARTICLE */
article > p {
  font-size: 20px;
  margin-bottom: 20px;
  columns: 2 25ch;
  column-gap: 40px;
  hyphens: auto;
}


/* blockquote */
blockquote {
  font-size: 50px;
  font-style: oblique;
  padding: 10px 150px;
  
  position: relative;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: -48px;
  left: 70px;
  opacity: .3;
  color: #666;
  font-size: 150px;
}

blockquote::after {
  content: close-quote;
  position: absolute;
  top: -48px;
  right: 170px;
  opacity: .3;
  color: #666;
  font-size: 150px;
}


.cards {
  columns: 25ch 3;
  gap: 40px;
  margin-bottom: 40px;
  padding-left: 300px;
}

.card {
  font-size: 20px;
  border: 1px solid;
  padding: 10px 20px;
  break-inside: avoid;
}

.card1 {
  font-size: 20px;
  border: 1px solid;
  padding: 10px,20px;
  break-inside: avoid;
  margin-bottom:200px;
}

@media (max-width: 950px) {
  .home {
    grid-template-columns: 1fr;
  }

  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .list {
    grid-template-columns: 1fr 5fr;
  }

  .card {
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .lists {
    grid-template-columns: 1fr;
  }
}
