*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(255, 234, 202);
    height: 100%;
    max-height: 100%;

}

header {
    position: fixed;
    background-color: #104911;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: 0.6s;
    padding:  40px 100px;
    z-index: 100000;
}

header.sticky {
    padding:  5px 100px;
    background: #fff;


}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #FFD449;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

header ul li:hover::after{
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    max-height: 100%;
    background: rgb(240, 225, 202);
    background-size: cover;
}

header.sticky ul li a {
    color: #000;
}

.loginContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.logo2{
    display: flex;
    height: 550px;
    width: 550px;
    margin-right: 70px;
}

.Student_Login{
    display: flex;
   
    margin-top: 70px;
    padding-top: 70px;
    left:755px;
    top:100px;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 5%;
    height:400px;
    width:450px;
    right:50px;
    box-shadow: 1px -1px 151px -12px rgba(0,0,0,0.61);
-webkit-box-shadow: 1px -1px 151px -12px rgba(0,0,0,0.61);
-moz-box-shadow: 1px -1px 151px -12px rgba(0,0,0,0.61);
}

h1{
    text-transform: uppercase;
    color:#333;
}

input[type="text"] {
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
 input[type="password"] {
    margin-top: 5px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
input[type]::placeholder {
    color:#2A3240;
}

input[type="checkbox"] {
    font-size: 20px;
}


.Student_Login form .formButton{
    border-radius: 5px;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:90px;
    padding-left:90px;
    font-size: 20px;
    color:white;
    background-color: #1F4700;
}

.Student_Login form .error-msg{
    margin:10px 40px;
    display: block;
    background: red;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    
 }

 @media (max-width: 1024px) {

    .loginContent {
        justify-content: center;
        align-items: center;
        padding: 20px;
    
    }
    
    .Student_Login {
        height:400px;
        width:400px;
    
    }
    
    
    .logo2 {
        display: flex;
        justify-content: center;
        height: 300px;
        width: 300px;
        margin-left: 100px;
    }

 }
 
 @media (max-width: 768px) {

.loginContent {
    flex-direction: column-reverse;
    max-width: 768px;
    justify-content: center;
    align-items: center;

}

.Student_Login {
    height:400px;
    width:400px;

}


.logo2 {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin-left: 100px;
}

}

@media (max-width: 675px) {

    header {
        padding: 40px 40px;
    }
    header ul {
        font-size: .75rem;
        gap: 10px;
    }
    .loginContent {
        margin-top: 50px;
    }
}


@media (max-width: 400px)  {

    header {
        padding: 30px 30px;
    }
    header ul {
        font-size: .65rem;
        gap: 5px;
    }

    .loginContent {
        margin-top: 50px;
    }
}